.sidebar{
  height: 100%;
  width: 15rem;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 10 !important;
  position: fixed !important;
}

.menu-item{
    color: black
}

.pagecontent{
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-left: 300px;
}